body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500px;
  color: #fff;
  background-color: #222222;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 10px;
}

hr{
  border: none;
  background-color: #555555;
  color: #555555;
  height: 2px;
  width: 782px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: opacity .5s;
}

a:hover {

  opacity: .8;
}


input {
  background-color: #555555;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #555555;
  outline: none;
}

.link {
  cursor: pointer;
}

/* === Container === */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* === Header === */

header {
  width: 100%;
  height: 100px;
  background-color: #333333;
  display: flex;
  align-items: center;
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  
}

.header__block {
  display: flex;
  align-items: center;
}

.strongLogo {
  color: #fff;
  font-weight: 900;
  font-size: 33px;
  margin-left: 15px;
}

.search {
  margin-right: 80px;
}




.inpSearch{

  width: 241px;
  height: 43px;
  padding: 12px;
  padding-left: 40px;

  background-image: url("assets/img/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
  border-radius: 50px;

}

.minAva {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* === Main === */

.main {
  padding-top: 23px;
}

/* === Left Bar === */

.leftBar {
  width: 270px;
  height: 830px;
  background-color: #333333;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftBar__avatar {
  margin-top: 35px;
  width: 150px;
  height: 150px;
  border-radius: 100px;

  -webkit-box-shadow: 7px 10px 20px 0px rgba(34,34,34,1);
  -moz-box-shadow: 7px 10px 20px 0px rgba(34,34,34,1);
  box-shadow: 7px 10px 20px 0px rgba(34,34,34,1);
  
}


.userName {
  font-size: 25px;
  margin-top: 20px;
}

.userMail{
  font-style: 15px;
  font-weight: 400;
  margin-top: 7px;
}

/* === List Nav === */

.listNav {
  margin-top: 70px;
}

.listLink {
  margin-bottom: 25px;
}

/*.list-link:hover {
  opacity: .9;
}*/

.listLink_active {
  background-color: #222222;
  border-radius: 50px;
  padding: 13px 30px;
}

.listLink__text {
  font-size: 27px;
  font-weight: 700;
  margin-left: 20px;
}

.logOut {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.logOut__text {
  font-size: 20px;
  margin-left: 10px;
}

/* === Main blocks === */

.mainBlocks {
  display: flex;
  justify-content: space-between;
}

.listBlock {
  width: 870px;
  height: 100%;
  
  background-color: #333333;
  border-radius: 20px;
}

/* === Filters === */

.filter {
  padding: 15px 40px 0px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 5px;
}

.sortBlock {
  padding-top: 5px;
}

.filter__popupClose {

  width: 160px;
  height: 36px;
  background-color: #555555;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.filter__popupClose>span {
  font-size: 18px;
  
  padding-left: 11px;
}


.filter__popupClose>img {
  padding-right: 9px;
}

.filter__popup {
  
  position: fixed;
  z-index: 9;

  border-radius: 10px;
  background-color: #555555;
  margin-top: 5px;

  display: flex;
  flex-direction: column;

  display: none;
}

.popupSort {
  width: 160px;
  height: 100px;
}

.popupSeason  {
  width: 160px;
  height: 130px;
}


.filter__popup>ul>li {
  font-size: 18px;
  cursor: pointer;
  width: 159px;
  height: 32px;

  padding-left: 11px;

  display: flex;
  align-items: center;
}

.filter__popup>ul>li:hover {

  border-radius: 5px;
  background-color: rgba(255, 103, 102, 0.3);

  
}

.filter__active {
  font-weight: 700;
  color: #FF6766;
}


.filter__block {
  display: flex;
  flex-direction: column;
}

.inpListSearch {
    width: 200px;
    height: 36px;
    padding: 12px;
    padding-left: 40px;
    background-image: url("assets/img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 5% center;
    border-radius: 10px;
}

.inpYear {
  width: 100px;
  height: 36px;
  padding: 12px;
  border-radius: 10px;
}

/* === Anime block === */

.animeBlock {
  padding: 25px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
}

.anime__picture {
  width: 20%;
  height: 20%;
  border-radius: 13px;
}

.anime__info {
  padding-left: 37px;
}

.anime__title {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 12px;
}

.anime__miniblock {
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

.anime__subtitle {
  font-size: 20px;
  font-weight: 700;
}

.anime__details {
  font-size: 20px;
  padding-left: 10px;
}

.anime__description {
  font-size: 15px;
  font-weight: 400;
}